# Xcode
build/
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.xcscmblueprint

# SwiftPM
.build/
Packages/
.swiftpm/xcode/package.xcworkspace/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Archive
*.xcarchive

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# macOS
.DS_Store

# xcframeworks
*.xcframework

# User data
*.moved-aside
*.xcuserstate

# Xcode Cloud
.xccheckout

info.plist


