<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict/>
	</array>
	<key>MBXAccessToken</key>
	<string>pk.eyJ1IjoicGFjaGFrb255YSIsImEiOiJjbWMwZXhhcjAwMWpiMnZzNzBseTE2ZnByIn0.9zoFeRsfVvvo-18O86opxA</string>
</dict>
</plist>
