<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GIDClientID</key>
	<string>109992993959-4fkn2hmfj7m8iv95jh335j8abi0u85f1.apps.googleusercontent.com</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.109992993959-4fkn2hmfj7m8iv95jh335j8abi0u85f1</string>
			</array>
		</dict>
	</array>
	<key>MBXAccessToken</key>
	<string>pk.eyJ1IjoicGFjaGFrb255YSIsImEiOiJjbWMwZXhhcjAwMWpiMnZzNzBseTE2ZnByIn0.9zoFeRsfVvvo-18O86opxA</string>
	<key>UIAppFonts</key>
	<array>
		<string>DMSans-Bold.ttf</string>
		<string>DMSans-Regular.ttf</string>
		<string>DMMono-Regular.ttf</string>
		<string>DMMono-Medium.ttf</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIBackgroundColor</key>
		<string>#fdfff5</string>
		<key>UIImageName</key>
		<string>launch_screen</string>
	</dict>
</dict>
</plist>
