fastapi
uvicorn
python-dotenv
psycopg2-binary
celery
redis
flower
alembic
openai
sqlalchemy
pytest
python-jose
bcrypt==3.2.2
passlib[bcrypt]
email-validator
pydantic[email]
google-auth
requests
aiosmtplib
pydantic_settings>=2.0
sendgrid
uvicorn[standard]
PyJWT